%btn {
    padding:5px 10px;
    border-radius: 5px;
    color: #333;
    text-decoration: none;
}
.btn-default {
    @extend %btn;
    background-color: #ccc;
}




.btn-alert {
    @extend %btn;
    background-color: #fcc;
}